.container {
  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 10%;
    transform: translateY(-70%);
}