<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MusicWorld</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div class="background"></div>
    <div class="header_text">
        <h1>MUSICWORLD</h1>
        <h2>Discover a whole world of sounds</h2>
    </div>
    <button (click) = "goToMainMenu()">
        <span>Discover now&nbsp;</span>
        <i class="material-icons">&#xe5c8;</i>
    </button>
</body>
<div class="footer">
    <div class="column">
        <img src="/docs/assets/faculdade_image.png" alt="Italian Trulli">
    </div>
    <div class="column">
        <div class="ps">
            <p>Subject: Multimédia</p>
            <p>Trabalho desenvolvido por: Gonçalo Tristão (fc52743) e Ricardo Santos (fc48650)</p>
        </div>
    </div>
</div>
</html>
