html {
    width: 100%;
    margin: 0;
}

/*------------------------------------------BODY------------------------------------------*/
body {
    height: 75%;
    margin: 0;   
}

.background {
    background-image: url("../../assets/homepage-background.jpg");
    filter: blur(5px);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.header_text {
    color: white;
    z-index: 2;
    transform: translateY(-450%);
    margin: auto;
    width: 100%;
    padding: 10px 0px 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-size: 21px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding-top: 10px;
    margin: 0;
}

button {
    background-color: white;
    border-radius: 60px;
    border: 2px solid black;
    color: black;

    margin: 0;
    top: 50%;
    left: 50%;
    transform:translate(-50%,130%);
    position: absolute;

    font-weight: bold;
    font-size: 17px;
    padding: 17px 30px 17px;

    display: flex;
    align-items: center;
}

button:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

button i{
    font-size:17px;
    font-weight: bold;
}

/*------------------------------------------FOOTER------------------------------------------*/
.footer {
    height: 25%;
}

/* Clear floats after the columns */
.footer:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    height:100%;
    width: 50%;
    float: left;
    margin: auto;
    position: relative;
}

.column img {
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 100px;
}

.ps {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(0%, -50%);
    font-size: 15px;
}

.ps p {
    margin: 15px 0;
    text-align: end;
}


