html {
    background-color: white;
}
.container-songc {
    color:black;
}
/*------------------------------------------BODY------------------------------------------*/
body {

    color: black;
}

.topMenu {
    height: 25%;
}

.grid {
    color:black;
}

.grid-item {
    
    color:black;
}

.grid-item:first-child {
  color:black
}

.grid-item:nth-last-child(-n + 4) {
    
    color:black;
}

.grid-item:last-child {
   
    color:black;
}

.grid-item:last-child:hover {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa
}

/*------------------------------------------------------------------------------------------------------------------------*/
.hover-underline-animation {
    
    color: black;
}

  
.hover-underline-animation:after {
    
    background-color: black;
    
}

.hover-underline-animation:hover:after {
    
    color:black
}
  
/*------------------------------------------------------------------------------------------------------------------------*/


::placeholder {
    color: rgb(88, 88, 88);
    
    
}



.sideMenu {
    
    border-right: 1px solid black;
    
}

.checkmark {
   
    background-color: rgb(185, 185, 185);
    
}
.container:hover input ~ .checkmark {
    background-color: rgb(122, 122, 122);
}
.container input:checked ~ .checkmark {
    background-color: #000000;
}

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(122, 122, 122); 
       
      }
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(37, 37, 37); 
      }

      .instrumentHeader{
        color : black;
    }

   .InstBolder{
       color:red;
       font-weight: bolder;
   }